# Dataset directories
FinQA-main/
FinTabNet.c-PDF_Annotations/
metatextgrad/
toolbench_test/

synthesized_rules.json

# Files

*.tar.gz
*.zip
*.log
*.out

finqa.py
.ipynb_checkpoints/
.env

# System Files
__pycache__/